.container
{
    /* border: 2px solid black; */
    
}

.center
{
    text-align: center;
}

.welcome
{
    color: rgb(31, 97, 31);   
}

.breadcrumb
{
    font-size: 1.5rem;
    /* background-color: rgba(69, 226, 213, 0.418); */
    border-bottom: 1px solid black;
    /* color: black; */
    /* text-decoration: none; */
}

.location-table
{
    font-size: 1.3rem;
    border: 2px solid black;
}

.dateTable{
    display: none;
}

.divBy2{
    display: none;
}

.divBy3{
    display: none;
}
.divBy5{
    display: none;
}
.divBy7{
    display: none;
}
.divBy11{
    display: none;
}


#vaccinationOptions{
    display: none;
}

#vaccinationOptions:target{
    display: block;
}

.toggleBtn{
    width:140px;
}